header {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    background-color: gray;
    align-items: center;

}


.logo {
    width: 5%;
    height: 5%;
    margin-left: 20px;
}

.menu_options {
    width: 500px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
                                                                                                                                                                                                                                                            
