* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    height: 450vh;
}


.containerMenu {
    max-width: 1600px;
    margin: auto;


}

.menuContent img {
    width: 100px;
    height: 80px;
}

.menuContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;


}

header ul {
    list-style: none;
}

a{
    color:  orange;
    text-decoration: none;
}

section{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menuOptions {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  

}

.banner1{
   background-image: url(/imagens/testeFundo1.png);
   height: 90vh;
   
}

.banner1 span{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.sectionPoker{
   background-color: orange;
   
}

.sectionPoker span{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


    .more{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8d1216;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #d4ba9d;}

    h2{
        color: white;
    }

    .banner2{
    
        background-image: url(/imagens/cartas1.jpg);
        height: 90vh;
        
     }