* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}

html {
    height: 450vh;
}

#topMenu {
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
}


#topMenu .menuContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}


#topMenu .menuContent.active {
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 8px 0 black;
}

#topMenu .menuContent img {
    width: 100px;
    height: 80px;
}

#topMenu ul {
    list-style: none;
}

#topMenu a{
    color:  white;
    text-decoration: none;   
}



.menuOptions {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  

}

.teste{
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.teste img{
    height: 250px;
    width: 300px;
    background-attachment: scroll;
    
}