* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body{
  background-size: 100%;
  /* overflow-x: hidden; */
}

#topMenu {
  width: 100%;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
}

#topMenu .menuContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

#topMenu .menuContent.active {
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px 0 black;
}

#topMenu .menuContent img {
  width: 120px;
  height: 100px;
  margin-top: 15px;
}

#topMenu ul {
  list-style: none;
}

#topMenu a {
  font-weight: bolder;
  color: white;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.7s ease;
}
#topMenu a:hover {
  color: #e86816;
  font-size: 25px;
  
}
section {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}

.menuOptions {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Banner com frase de impacto no poker  */
.banner1 {
  height: 90vh;
  /* width: 100%; */
  background-image: url(../assets/imagens/banner1.png);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.banner1content {
  padding: 30px;
  height: 200px;
  width: 500px;
  color: white;
  font-size: 30px;
}

/* parte da explicação do jogo, com link para página complementar, explicar no complemento como se joga */
.sectionPoker {
  background-image: url(../assets/imagens/fundoPokerSection.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: 70vh;
  width: 100%;
  gap: 50px;
  padding: 50px;
  padding-left: 50px;
  background-size: cover;
}

.sectionPoker h2 {
  color: white;
  text-align: center;
}

.contentPoker {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 1000px;
  height: 800px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: -500px; */
  text-decoration: wavy;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e86816;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
}

/* Banner 2 vai tratar de algumas hasbilidades trabalhdas com o poker */
.banner2 {
  background-image: url(../assets/imagens/fundoHabilidades.png);
  background-size: cover;
  background-color: rgb(85, 85, 85);
  background-blend-mode: overlay; 
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.titulos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner2content {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

/* Colunas que guardarão as fichas ou círculos */

.habilidade{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
  gap: 15px;
  font-size: 25px;
}

.habilidade img{
  height: 320px;
  width: 550px;
  margin-top: -50px;
  margin-bottom: -50px;  
}

.eventos {
  background-image: url(../assets/imagens/fundoEventos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  padding: 5px;
  color: white;
  
}


.slider {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  margin-top: 0;
}

.slides {
  width: 960px;
  height: 580px;
  display: flex;
  /* border: solid blue; */
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  /* position: relative; */
  transition: 1s;

}

.slide img {
  width: 100%;

}

.manual-navigation {
  /* position: absolute; */
  width: 800px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.manual-btn {
  border: 2px solid #e86816;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #e86816;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -100%;
}

#radio3:checked~.first {
  margin-left: -200%;
}

#radio4:checked~.first {
  margin-left: -300%;
}

.navigation-auto div {
  border: 2px solid yellow;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;


}

.navigation-auto {
  /* position: absolute; */
  width: 800px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;

}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #e86816;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #e86816;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #e86816;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #e86816;
}

#imgTeste {
  width: 960px;
  height: 580px;
}


/* abaixo está em produção */

.banner3 {
  background-image: url(../assets/imagens/fundoCarta.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  height: 90vh;
  color: white;
}

.banner3content {
  width: 100%;
  height: 100%;
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;  
  font-size: 25px;
}

.fotosContent{
  width: 20%;
  height: 100%;
  border: solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;  
  font-size: 25px;
}
