@font-face {
  font-family: 'Ethno';
  src: url(./Fontes/ethnocentric\ rg\ it.otf) format(opentype); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 900vh;
  height: 100%;
  background: radial-gradient(#4e5c72,#343741,#0d0e0f);

}

#topMenu {
  width: 100%;
  height: 10vh;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
}

#topMenu .menuContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
}

#topMenu .menuContent.active {
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px 0 black;
}


#topMenu .navBar {
  font-weight: bolder;
  color: #e86816;
  font-size: 30px;
  text-decoration: none;
}

#topMenu a {
  font-weight: bolder;
  color: #e86816;
  font-size: 30px;
  text-decoration: none;
}

.navBar:hover {
  cursor: pointer;
}

#menuHamburguer img{
  width: 500px;
  margin: 0;
  cursor: pointer;
}

menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  ;
} 

#menuHamburguer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#menuHamburguer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuHamburguer ul li {
  margin-bottom: 20px;
}

#menuHamburguer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}


section {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  margin-top: 5vh;
}

.banner1 {
  height: 90vh;
  /* width: 100%; */
  background-image: url(../assets/imagens/banner1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.banner1content {
  padding: 30px;
  height: 200px;
  width: 500px;
  color: white;
  font-size: 30px;
}
.banner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 70vh;
  width: 100%;
  gap: 50px;
  padding: 50px;
  padding-left: 50px;
}

.banner h2 {
  color: white;
  text-align: center;
}

.contentPoker {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: wavy;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e86816;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
}

.contentPoker {   
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 1000px;
  height: 800px;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: -500px; */
  text-decoration: wavy;
}

.more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e86816;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 50px;
}

.banner3 {
  background-image: url(../assets/imagens/fundoPokerSection.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  height: 70vh;
  width: 100%;
  gap: 50px;
  padding: 50px;
  padding-left: 50px;
  background-size: cover;
}
 
.banner3content {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: wavy;
}

.banner4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 100%;
  padding: 50px;

  
}

.banner4content {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
  
.habilidade{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 25px;
}

.habilidade img{
  width: 400px;
}

.banner5 {
  background-image: url(../assets/imagens/fundoAses.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.banner5content {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: wavy;
  /* -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black; */
  /* background-color: rgba(255,255,255,0.5); */

}

.banner5 b{
  background-color: rgba(0,0,0,0.5);
 

}

.banner6 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  height: 140vh;
  width: 100%;
  gap: 50px;
  padding: 50px;
  padding-left: 50px;
}


.banner6content {
  color: white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: wavy;
  /* border: solid red; */
}

.bloco{
  width: 100%;
  height: 33%;
  /* border: solid blue; */
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content:space-around;
  align-items: center;
  /* gap: 100px; */
}



.imagem1{
  display: flex;
  float: left;
  /* border: solid white; */
  height: 120%;
  /* margin-left: 30px; */
}

.imagem1 img{
height: 120%;
width: 400px;
 
}
.text1{
  float:right;
  /* border: solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 1200px;
}

.imagem2{
  display: flex;
  float: right;
  margin-left: -100px;
  height: 150%;
  width: 500px;
  
}

.text2{
  float:left;
  /* border: solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 1000px;
}

.imagem3{
  display: flex;
  float: left;
  margin-left: 200px;
  margin-bottom: 100px;
  height: 150%;
  
}

.text3{
  float:right;
  /* border: solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 200px;
}

body h2{
  color: #e86816;
  font-size: 30px;
  margin-top: 55px;
}