* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(#4e5c72, #343741, #0d0e0f);
  }
  
  #topMenu {
    width: 100%;
    height: 10vh;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #topMenu .menuContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  #topMenu .menuContent.active {
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 8px 0 black;
  }
  
  #topMenu .navBar {
    font-weight: bolder;
    color: #e86816;
    font-size: 30px;
    text-decoration: none;
  }
  
  #topMenu a {
    font-weight: bolder;
    color: #e86816;
    font-size: 30px;
    text-decoration: none;
  }
  
  .navBar:hover {
    cursor: pointer;
  }
  
  #menuHamburguer img {
    width: 500px;
    margin: 0;
    cursor: pointer;
  }
  
  menu ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  #menuHamburguer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
  
  #menuHamburguer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #menuHamburguer ul li {
    margin-bottom: 20px;
  }
  
  #menuHamburguer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  

  .container{
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.containerBox {
    background-color: rgb(7, 71, 7);
    width: 100%;
    max-width: 800px;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.questions_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question {
    font-size: 24px;
    text-align: center;
}

.answers_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.last_buttons {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.next_question {
    margin-top: 32px;
}

.button {
    background-color: rgb(0, 166, 255);
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 32px;
    height: 48px;
    padding: 0 32px;
    transition: 0.3s;
}


.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: rgb(156, 0, 0);
}

.final-message {
    font-size: 20px;
    text-align: center;
}

.final-message span {
    display: block;
    margin-top: 8px;
}