* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 900vh;
  height: 100%;
  background: radial-gradient(#4e5c72, #343741, #0d0e0f);

}

#topMenu {
  width: 100%;
  height: 10vh;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
}

#topMenu .menuContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
}

#topMenu .menuContent.active {
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px 0 black;
}


#topMenu .navBar {
  font-weight: bolder;
  color: #e86816;
  font-size: 30px;
  text-decoration: none;
}

#topMenu a {
  font-weight: bolder;
  color: #e86816;
  font-size: 30px;
  text-decoration: none;
}

.navBar:hover {
  cursor: pointer;
}

#menuHamburguer img {
  width: 500px;
  margin: 0;
  cursor: pointer;
}

menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  ;
}

#menuHamburguer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#menuHamburguer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuHamburguer ul li {
  margin-bottom: 20px;
}

#menuHamburguer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.container {
  height: 90vh;
  margin-top: 10vh;
  border: solid blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#simulador {
  border-radius: 30px;
  height: 500px;
  width: 500px;
  background-color: black;
  opacity: 50%;
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* text-indent: 20px; */
  text-align: center;
}

#simulador button {
  cursor: pointer;
}

#divTreinoUmaTela{
  display: none;
  height: 90vh;
  margin-top: 10vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#4e5c72,#343741,#0d0e0f);
  position: relative;
  border: solid red;
}

.mesaPoker {
  position: relative;
  width: 1200px;
  height: 650px;
  background-color: #388E3C;
  border: 10px solid #795548;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


.cards {
  display: flex;
  position: relative;
  height: 30%;
  width: 30%;
  top: 10%;
  gap: 5px;
}

.posicaoMesa{
  height: 40%;
  width: 50%;
  font-size: 150px;
  /* top:40%; */
  text-align: center;
  color: #4e5c72;
}

.card {
  width: 45%;
  height: 100%;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.acoes{
  margin-top: 2%;
  display: flex;
  /* border: solid blue; */
  justify-content: space-around;
  width: 30%;
  height: 10%;
  }

  .acoes button{
    width: 40%;
    height: 90%;
    border-radius: 30px;
    font-size: 150%;
  }

  .numeroRodada{
    /* border: solid red; */
    display: flex;
    width: 15%;
    height: 15%;
    position: absolute;
    left: 5%;
    top: 5%;
    color: #e86816;
    font-size: 120px;
    }